<app-header/>               
<main>
    <ul id="users">
        <!-- @for (item of user; track item.id) { -->
            <li><app-user *ngFor="let item of user" [avatar]="item.avatar" [name]="item.name" [id]="item.id"  (select)="onSelectUser($event)" /></li>
        <!-- } -->
    </ul>
    <!-- @if (selectedUser) { -->
        <app-tasks *ngIf="SelectUser2 ; else newvalue" [name]="SelectUser2.name" />
    <!-- }@else { -->
        <ng-template #newvalue>
            <p>select a user to show details view</p>
        </ng-template>
    <!-- } -->
</main>
 